// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#banner {
  color: #FFFFFF;
  text-align: center;
  margin: 0px;
  padding: 0px;
  height: 250px;
  display: flex;
  justify-content: center;
  background: linear-gradient(
                  rgba(0, 0, 0, 0.3),
                  rgba(0, 0, 0, 0.3)
  ), image-url("page_background.png") no-repeat center center;
  background-size: cover;

  #inner-banner {
    align-self: center;
    --webkit-align-self: center;
    padding: 0.5em;
    line-height: 48px;
  }

  h1 {
    font-size: 48px;
  }
  p {
    font-size: 30px;
  }

  #add-restaurant {
    position: absolute; top: 5px; right: 5px;

    a:hover {
      background-color: transparent;
    }
  }
}

#details {
  margin: 30px;

  #filters {
    #filters-table {
      table-layout: fixed;
      width: 100%;
    }

    td {
      font-size: 110%;
    }

    .filter_select {
      width: 80%;
      font-size: 140%;
    }
  }

  #restaurants-container {
    #restaurants-list {
      table {
        border-spacing: 0px 10px;
        width: 60%;
      }
      td {
        background-color: #FFFFFF;
        padding: 25px 10px;
      }

      #restaurant-title {
        font-weight: bold;
        font-size: 120%;
      }

      #no-restaurants-notice {
        text-align:center;
      }
    }
  }
}
